/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Raleway');

*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
  
html {
    font: 100%/1.45em 'Raleway', sans-serif;
    font-display: auto;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body { 
    margin: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 1.45rem;
    line-height: 1.1;
    font-family: 'Raleway', sans-serif;
}

ul {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
}

.blog-content a:-webkit-any-link {
    color: #000;
    cursor: pointer;
    text-decoration: 1px solid #000;
}

.blog-content a:hover {
    text-decoration: none;
}

/* Homepage */
.columnsContainer, footer, header { 
    position: relative; 
    margin: .5em; 
}

.leftColumn, .rightColumn, footer, header { 
    padding: 1.25em; 
}

.leftColumn { 
    margin-bottom: .5em;
    background-color: #f2f2f3;
    text-align: center;
    padding-bottom: 50vh;
}

.leftColumn h1 {
    color: black;
    font-size: 200%;
    text-transform: lowercase;
}

.rightColumn h1 {
    text-transform: lowercase;
}

/* Posts on Homepage */
.post-list h1 {
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0em 1.1em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background .5s;
}

.post-list:hover h1 {
    background-size: 100% 100%;
    background-position: 0 -0.1em;
}

/* Navigation */
.nav {
    list-style: none;
    text-transform: lowercase;
}

.nav > li,
.nav > li > a,
.nav > li > Link {
    display: inline-block;
    *display: inline;
    color: black;
    text-decoration: none; 
}

.nav > li:hover,
.nav > li > a:hover,
.nav > li > Link:hover {
    font-weight: bold;
}

.inline-items {
    margin-top: 0;
}

.inline-items li {
    margin-left: 0;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.inline-items li:first-child {
    margin-left: 0;
    border: none;
    padding-left: 0;
    padding-right: 10px;
}

.inline-items li:last-child {
    padding-right: 0;
}

/* Code blocks */
code[class*="language-"],
pre[class*="language-"] {
    color: black;
    line-height: 1.1;
	font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

pre[class*="language-"] {
	padding: .5em;
	margin: .5em 0;
	overflow: auto;
    border-radius: 0.3em;    
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: #f2f2f3;
}

.token.function,
.token.class-name {
	color: #cb164c; /* yellow */
}

/* Tags */
.blog-post-tags a, span {
    font-size: 100%;
    color: rgb(109, 109, 109);
    margin-left: 10px;
    text-decoration: none;
}

.blog-post-tags a:hover {
    font-weight: bold;
}

/* Footer */
footer {
    margin-top: 5%;
    font-size: 12px;
}

footer a {
    text-decoration: none;
}

/* Responsive Styles */
/* Homepage */
@media screen and (min-width: 923px ) {
    .leftColumn { 
        margin-right: 27em;
        position: fixed;
        top: 0;
        left: 0px;
        right: 0px;
        bottom: 0;
    }

    .leftColumn h1 {
        color: black;
        font-size: 300%;
        text-transform: lowercase;
    }    

    .rightColumn { 
        position: absolute; 
        top: 0; 
        right: 0; 
        width: 25.75em; 
        font-family: 'Courier New', Courier, monospace;
    }

    .wrapper {
        padding : 40px;
        overflow: hidden;
        margin: 0px auto;
        width: 50vw;        
        text-align: left;
        color: #EDEEE9;
    }

    .title {
        font-weight: 600;
        line-height: 0.8;
        font-size: 3rem;
    }
}

@media screen and (max-width: 999px ) {
    .title {
        font-weight: 400;
        line-height: 0.8;
        font-size: 2rem;
    }
}