.link {
    text-decoration: none;
    color: black;
}

.post-list {
    border-left: 2px solid #D3D3D3;
    padding: .5rem;
    margin: 1rem;
    font-size: 80%;
}

img {
  height: 90% !important;
}

.post-list:hover {
    background-color: rgba(238, 236, 236, 0.301);
}


.tags {
    display: flex;
    flex-direction: column;
}

.tags a {
    margin-bottom: 2rem;
    list-style: none;
    /* background-color: #dddddd; */
    border-left: 2px solid #D3D3D3;
    width: 80%;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(31, 26, 26);
}

.tags a:hover {
    background-color: rgba(238, 236, 236, 0.301);
}