.content {
    margin: 0 auto;
    width: 50%;
}

.content h1 {
    text-align: center;
    margin-top: 2%;
    color: black;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: center;
    background-size: 372px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 820px) {
    .content {
        width: 75%;
    }
}