/* 
#E5C5AE - peach
#A5BCCA - baby blue
*/

@import url('https://fonts.googleapis.com/css?family=Kalam|Quicksand');

html {
    height: 100%;
    color: black;
}

body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Kalam', sans-serif;
}

p {
    font-size: 16px;
}

button:hover {
    color: #53bbce;
}

footer {
    margin-top: 10%;
    font-size: 12px;
}

.post-list:hover h1 {
    background: #A5BCCA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.final-header {
    background-color: white;
    padding: 0px;
    margin: 0 auto;
    padding: 2rem 1.0875rem 0;
}

.final-header:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 0px; /* This creates some space between the element and the border. */
    border-bottom: 5px solid rgb(219, 219, 219); /* This creates the border. Replace black with whatever color you want. */
}

.final-header p {
    color: black;
    text-decoration: none;
    font-weight: 900;       
    font-style: italic;
}

.final-header Link,
.final-header a {
    color: black;
    text-decoration: none;
    font-weight: 900;
}

.final-header .header-text h1 {
    margin: 0;
    text-align: center;
}

.final-header .header-text p {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.final-header .nav {
    display: flex;
    justify-content: center;
}

.final-header .nav Link,
.final-header .nav a {
    color: #53bbce;
    padding-right: 10px;
}

.final-header .nav Link:hover,
.final-header .nav a:hover {
    color: black;
}

@media (max-width: 560px) {
    footer {
        margin-top: 40%;
    }
}