/* 
#E5C5AE - peach
#A5BCCA - baby blue
*/

@import url('https://fonts.googleapis.com/css?family=Kalam|Quicksand');

* {
    background: #F5F5F5;
    color: black;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Kalam', sans-serif;
}

p {
    font-size: 16px;
}

button:hover {
    color: #53bbce;
}

footer {
    margin-top: 10%;
    font-size: 12px;
}

.post-list:hover h1 {
    background: rgb(87, 199, 230);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.final-header {
    height: 85vh;
    background: url(https://images.unsplash.com/photo-1491406213019-05b162a72c20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1484&q=80) no-repeat center center fixed;
    /* https://images.unsplash.com/photo-1490358930084-2d26f21dc211?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80 */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-overlay {
    opacity: 0.8;
}

@media (max-width: 560px) {
    footer {
        margin-top: 40%;
    }
}