.prevnext a {
    color: rgb(87, 199, 230);
    text-decoration: none;
}

.prevnext a:hover {
    color: black;
    text-decoration: none;
}

.prevnext {
    list-style: none;
}

.prev {
    float: left;
}

.next {
    float: right;
}